<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css">
    {{!-- FontAwesome --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- CSS --}}
    <link rel="stylesheet" href="main.css">
    <title>Stripe simple implementation</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container">
            <a href="#" class="btn btn-light">Cursos</a>
        </div>
    </nav>
    <div class="container mt-4">
        {{{body}}}
    </div>
</body>

</html>